<!DOCTYPE html>
<html>
  <head>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
  	<script src="assets/js/store.js"></script>
    <link href="assets/css/main.css" rel="stylesheet">
  </head>
  <body ng-app="storeFront" ng-controller="storeFrontCtrl as store">
    <h1>Store Front</h1>
    <div style="float:left;width:60%;">
      <table width="80%">
        <tr>
          <th>Products</th>
          <th>Name</th>
          <th class="text-left">Price</th>
          <th></th>
        </tr>
        <tr ng-repeat="product in store.products" width="100%">
          <td><img ng-src="http:{{product.mainImage.ref}}" width="50px" height="50px"></td>
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td ><span class="button" ng-click="store.addToCart(product)">Add to Cart</span></td>
        </tr>
      </table>
    </div>

    <div style="float:right;width:30%;" class="cart">
      <h3>Your Cart</h3>
      <div ng-if="store.cart.length==0">
        <p>There are no products in your shopping cart right now!</p>
      </div>
      <div ng-repeat="product in store.cart">
      <img ng-src="http:{{product.image}}" width="50px" height="50px">
      {{product.price | currency}} - {{product.name}}
      <br><label>Quantity:</label> <input type="text" ng-model="product.quantity" ng-change="store.updateTotals();" maxlength="3" size="3">
      <br><label>Wholsale:</label> <input type="checkbox" ng-model="product.wholesale" ng-change="store.updateProductPrice(product)">
      <br><span class="button" ng-click="store.removeFromCart(product)">Remove from Cart</span>
      </div>
      <div class="total">
        <h3>Totals</h3>
        Price: {{store.cartTotal | currency}}<br>
        Quantity: {{store.cartQuantity}}
      </div>
    </div>
  </body>
</html>


